/* HeroesComponent's private CSS styles */
.container{
  padding: 0.5em 0.5em;
  background: rgb(235, 235, 235);
  width: 15vw;
  border-radius: 3px;
  overflow: hidden;
}
#userListContainer{
  background: rgb(235, 235, 235);
  padding: 1em 1em;
  border-radius: 3px;
}
#userList {
  list-style-type: none;
  padding: 0;
}
#userList li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #DDD;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
#userList li:hover {
  color: #607D8B;
  background-color: #CCC;
}
#userList li.selected {
  background-color: #CFD8DC;
  font-weight: bold;
  color: black;
}
#userList li.selected:hover {
  background-color: #BBD8DC;
}
#userList .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
#userList .privacy{
  float: right;
  min-width: 0.6em;
  min-height: 0.6em;
  margin-right: 5px;
  border-radius: 100%;
}
#userList .privacy.true{
  background: rgb(32, 221, 57);
  border: 1px solid rgb(133, 133, 133);
}
#userList .privacy.false{
  background: rgb(215, 0, 0);
  border: 1px solid rgb(133, 133, 133);
}